body {
    font-family: 'Roboto';
}
.btn{
    border-radius: 50px;
}
.card{
    border-radius: 15px;
    overflow: hidden;
}

.bg-light{
    background-color: #E1D3D3 !important;
}

/* Navigation Animation*/
.underlineHover{
    cursor: pointer;
    transition: 0.3s;
    border-radius: 5px;
    color: rgb(19, 19, 19);
}
.underlineHover::after{
    content: '';
    display: block;
    height: 2px;

    /* width: 0px;
        background:black;
    transition: width .3s; */
    animation: backward 0.3s;
}  
.underlineHover:hover::after{
    /* transition: width .3s; */
    content: '';
    animation: forward 0.3s;
    /* width: 100%;
        background:black; */
    width: 20%;
    background:rgb(70, 70, 70);
}
@keyframes forward {
    from {
        width: 0px;
        background:rgb(70, 70, 70);
    }
    to {
        width: 20%;
        background:rgb(70, 70, 70);
    }
}
@keyframes backward {
    from {
        width: 20%;
        background-color:rgb(70, 70, 70);
    }
    to {
        width: 0px;
        background-color:rgb(70, 70, 70);
    }
}